.dashboard-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.dashboard-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.channel-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item-ch {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
}

.item-fr {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
}

.item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.channel-name {
  font-weight: bold;
  color: #007bff;
}
.friend-list {
  margin: 20px 0;
}

.add-friend {
  margin-top: 20px;
}
.invite-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.invite-dialog select {
  width: 100%;
  margin-bottom: 10px;
}
.chat-container {
  width: 40%;
  float: right;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chat-title {
  font-size: 20px;
  color: #333;
}

.message-list {
  margin-bottom: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.message-item {
  margin-bottom: 10px;
}

.message-input {
  display: flex;
  gap: 10px;
}

.message-input input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.message-input button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0056b3;
}
